services:
  server:
    user: "0:0"
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    environment:
      - NODE_ENV=production
      - PUPPETEER_EXECUTABLE_PATH=/usr/bin/chromium-browser
      - PUPPETEER_SKIP_CHROMIUM_DOWNLOAD=true
    ports:
      - "3000:3000"
    volumes:
      - wwjs-data:/var/sessions:rw
  sqlite_db:
    container_name: sqlite_db
    build:
      context: .
      dockerfile: Dockerfile.sqlite
    volumes:
      - ./sqlite:/database
    networks:
      - mainnetwork
    command: ["tail", "-f", "/dev/null"]
volumes:
  wwjs-data:
    external: true
  sqlite_data:

networks:
  mainnetwork:
    driver: bridge
